<table>
  <th>
    <li></li>
    <li>Title</li>
    <li>Opinion</li>
  </th>
  <tb>
    <li>image</li>
    each |book|
    <li><%= book.title =%></li>
    <li><%= book.body =%></li>
  </tb>
  
</table>